<h1>Welcome to the Car Simulator</h1>
<p>Please enter your make and year to create your new car</p>
<br>
<form action="car/create" method="get">
  <label>Enter Make:
    <input type="text" name="make">
  </label>
  <label>Enter Year:
    <input type="number" name="year">
  </label>
    <input type="submit" value="Create New Car">
</form>
