<h1>Welcome to the Car Simulator</h1>
<p>You have successfully created a new car!</p>
<p>Make: <%= @car.make %></p>
<p>Year: <%= @car.year %></p>
<p>Speed: <%= @car.speed %> mph</p>
This is the car create page
